<html>
<head>
    <title>Map Of Belgium</title>
    {% block scripts %}{% endblock %}
    <style>
        html, body, #map-canvas {
            height: 100vh;
            margin: auto;
            padding: 0;
        }

        #map-container {
            border: 2px solid red;
            position: relative;
        }

        #map-belgium {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>
