<html>
<head>
    <title>Map Of Belgium</title>
    {% block scripts %}{% endblock %}
    <style>
        html, body, #map-canvas {
            height: 100vh;
            margin: auto;
            padding: 0;
        }
    </style>
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>
