<html>
<head>
    <title>Map Of Belgium</title>
    {% block scripts %}{% endblock %}
    <link rel="stylesheet" href="/css/maps.css">
    <link rel="stylesheet" href="/css/places-autocomplete.css">
</head>
<body>

{% block content %}{% endblock %}
</body>
</html>
