{% extends 'index.twig' %}

{% block scripts %}
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key={{ apiKey }}&libraries=places&language=nl&output=json"></script>
    <script src="/js/markercluster.js"></script>
    <script>
        var churches = {{ churches|raw }};
    </script>
    <script src="/js/app.js"></script>
{% endblock %}

{% block content %}
    <div id="map-canvas"></div>

    <input type="text" id="address" placeholder="Zoeken op locatie">
{% endblock %}
