{% extends 'index.twig' %}

{% block scripts %}
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key={{ apiKey }}"></script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    <script>
        var churches = {{ churches|raw }};
        var debugMap = false;
        var overlay;
        var srcImage = '/belgium.svg';
        var boundariesOfBelgium = {
            'ne': {
                'lat': 51.6,
                'lng': 6.38
            },
            'sw': {
                'lat': 49.45,
                'lng': 2.57
            }
        };

        var neBound = new google.maps.LatLng(boundariesOfBelgium.ne.lat, boundariesOfBelgium.ne.lng);
        var swBound = new google.maps.LatLng(boundariesOfBelgium.sw.lat, boundariesOfBelgium.sw.lng);
        var bounds = new google.maps.LatLngBounds(swBound, neBound);
        var center = new google.maps.LatLng(50.5, 4.5);
        var zoom = 8;

        var mapOptions = {
            zoom: zoom,
            center: center,
            mapTypeId: google.maps.MapTypeId.hybrid,
            backgroundColor: '#FFF',
            disableDefaultUI: true,
            draggable: true,
            scaleControl: true,
            scrollwheel: true,

            styles: [
                {
                    "featureType": "all",
                    "stylers": [
                        {"visibility": "off"}
                    ]
                },
                {
                    "featureType": "water",
                    "elementType": "geometry",
                    "stylers": [
                        {"visibility": "on"}
                    ]
                },
                {
                    "featureType": "landscape",
                    "stylers": [
                        {"visibility": "on"}
                    ]
                },
                {
                    "featureType": "road",
                    "stylers": [
                        {"visibility": "on"}
                    ]
                },
                {
                    "featureType": "poi",
                    "stylers": [
                        {"visibility": "off"}
                    ]
                },
                {
                    "featureType": "administrative",
                    "stylers": [
                        {"visibility": "off"}
                    ]
                },
                {
                    "elementType": "labels",
                    "stylers": [
                        {"visibility": "on"}
                    ]
                }
            ]
        };

        function initialize() {
            var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
            var markers = [];

            function addMarker(lat, lng) {
                markers.push(new google.maps.Marker({
                    map: map,
                    position: {'lat': lat, 'lng': lng}
                }));
            }

            if (debugMap) {
                addMarker(51.368397, 3.366143);
                addMarker(49.508816, 5.610255);
                addMarker(boundariesOfBelgium.ne.lat, boundariesOfBelgium.ne.lng);
                addMarker(boundariesOfBelgium.sw.lat, boundariesOfBelgium.sw.lng);
            } else {
                for (let church of churches) {
                    if (!church || !church.lat || !church.lng) {
                        continue;
                    }

                    addMarker(church.lat, church.lng);
                }
            }

            new MarkerClusterer(map, markers, {
                imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m',
                minimumClusterSize: 2
            });

            overlay = new Overlay(bounds, '{{ map|raw }}', map);
            new Overlay(bounds, '{{ mapOutline|raw }}', map);
        }

        Overlay.prototype = new google.maps.OverlayView();

        function Overlay(bounds, src, map) {
            this.bounds_ = bounds;
            this.src_ = src;
            this.map_ = map;
            this.div_ = null;

            this.setMap(map);
        }

        Overlay.prototype.onAdd = function () {
            var div = document.createElement('div');
            div.id = 'map-container';
            div.style.position = 'absolute';
            div.innerHTML = this.src_;

            this.div_ = div;

            var panes = this.getPanes();
            panes.overlayLayer.appendChild(div);
        };

        Overlay.prototype.draw = function () {
            var overlayProjection = this.getProjection();
            var sw = overlayProjection.fromLatLngToDivPixel(this.bounds_.getSouthWest());
            var ne = overlayProjection.fromLatLngToDivPixel(this.bounds_.getNorthEast());
            var div = this.div_;

            div.style.left = sw.x + 'px';
            div.style.top = ne.y + 'px';
            div.style.width = (ne.x - sw.x) + 'px';
            div.style.height = (sw.y - ne.y) + 'px';
        };

        Overlay.prototype.onRemove = function () {
            this.div_.parentNode.removeChild(this.div_);
            this.div_ = null;
        };

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
{% endblock %}

{% block content %}
    <div id="map-canvas"></div>
{% endblock %}
